<template>
  <v-container grid-list-xl fluid pt-0>
    <v-layout>
      <v-flex xs12>
        <v-tabs v-model="current_tab" slider-color="primary">
          <v-tab key="1">Información</v-tab>
          <v-tab key="2">Bitácora</v-tab>
        </v-tabs>
      </v-flex>
    </v-layout>

    <v-tabs-items v-model="current_tab">
      <v-tab-item key="1">
        <v-layout>
          <v-flex lg6>
            <v-layout>
              <v-flex>
                <v-widget title="Información General">
                  <div slot="widget-content">
                    <v-layout>
                      <v-flex xs8>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>
                                {{ remision.servicio_referencia }}
                              </v-list-tile-title>
                              <v-list-tile-sub-title>
                                Servicio de referencia
                              </v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>
                                {{ remision.servicio_referente }}
                              </v-list-tile-title>
                              <v-list-tile-sub-title>
                                Servicio referente
                              </v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>

                      <v-flex xs4>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-chip
                                :color="estado_config.color"
                                text-color="white"
                                class="subheading"
                                label
                                selected
                              >
                                <v-avatar>
                                  <v-icon>{{ estado_config.icon }}</v-icon>
                                </v-avatar>
                                {{ estado_config.text }}
                              </v-chip>
                            </v-list-tile-content>
                          </v-list-tile>

                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title
                                :title="remision.fechahora | moment('from')"
                              >
                                {{
                                  remision.fechahora
                                    | moment("MMMM DD YYYY, hh:mm A")
                                }}
                              </v-list-tile-title>
                              <v-list-tile-sub-title>
                                Fecha de solicitud
                              </v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>
                    </v-layout>
                  </div>
                </v-widget>
                <v-widget title="Información del Prestador de Salud">
                  <div slot="widget-content">
                    <v-layout>
                      <v-flex xs8>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>
                                {{ remision.prestador.nombre }}
                              </v-list-tile-title>
                              <v-list-tile-sub-title>
                                Nombre
                              </v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>

                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>
                                {{ remision.prestador.direccion }}
                              </v-list-tile-title>
                              <v-list-tile-sub-title>
                                Dirección
                              </v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>

                      <v-flex xs4>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>
                                {{ prestador.municipio.nombre }},
                                {{ prestador.municipio.departamento.nombre }}
                              </v-list-tile-title>
                              <v-list-tile-sub-title>
                                Municipio
                              </v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>
                                {{ prestador.codigo }}
                              </v-list-tile-title>
                              <v-list-tile-sub-title>
                                Código de habilitación
                              </v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>
                    </v-layout>
                  </div>
                </v-widget>
                <v-widget title="Informacion del Solicitante de la Remisión">
                  <div slot="widget-content">
                    <v-layout wrap>
                      <v-flex xs8>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ nombre_completo_profesional }}</v-list-tile-title>
                              <v-list-tile-sub-title>Nombre completo</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>
                      <v-flex xs4>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ profesional.telefono }}</v-list-tile-title>
                              <v-list-tile-sub-title>Teléfono</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>
                    </v-layout>
                  </div>
                </v-widget>
                <v-widget title="Información Clinica Relevante">
                  <div slot="widget-content">
                    <v-layout wrap>
                      <v-flex xs12 pa-0>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ remision.info_clinica }}</v-list-tile-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>
                    </v-layout>
                  </div>
                </v-widget>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg6>
            <v-layout>
              <v-flex>
                <v-widget title="Información del Paciente">
                  <div slot="widget-content">
                    <v-layout>
                      <v-flex xs8>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ nombre_completo_paciente }}</v-list-tile-title>
                              <v-list-tile-sub-title>Nombre completo</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ paciente.direccion }}</v-list-tile-title>
                              <v-list-tile-sub-title>Dirección</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>
                      <v-flex xs4>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title
                                :title="paciente.persona.fechaNacimiento | moment('from')"
                              >{{ paciente.persona.fechaNacimiento | moment(formatofecha) }}</v-list-tile-title>
                              <v-list-tile-sub-title>Fecha nacimiento</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>

                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ paciente.telefono }}</v-list-tile-title>
                              <v-list-tile-sub-title>Teléfono</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>
                    </v-layout>
                  </div>
                </v-widget>
                <v-widget title="Información del Acudiente">
                  <div slot="widget-content">
                    <v-layout wrap>
                      <v-flex xs8>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ nombre_completo_acudiente }}</v-list-tile-title>
                              <v-list-tile-sub-title>Nombre completo</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>

                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ acudiente.direccion }}</v-list-tile-title>
                              <v-list-tile-sub-title>Dirección</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>
                      <v-flex xs4>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ acudiente.telefono }}</v-list-tile-title>
                              <v-list-tile-sub-title>Teléfono</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>
                    </v-layout>
                  </div>
                </v-widget>
              </v-flex>
            </v-layout>

            <v-layout>
              <v-flex>
                <v-widget title="Información del Pagador">
                  <div slot="widget-content">
                    <v-layout wrap>
                      <v-flex xs8>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ pagador.nombre }}</v-list-tile-title>
                              <v-list-tile-sub-title>Nombre</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>
                      <v-flex xs4>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ acudiente.telefono }}</v-list-tile-title>
                              <v-list-tile-sub-title>Teléfono</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>
                    </v-layout>
                  </div>
                </v-widget>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-tab-item>

      <v-tab-item key="2">
        <v-layout>
          <v-flex xs6 v-if="propias">
            <v-widget title="Actualizar Bitacora">
              <div slot="widget-content">
                <v-layout wrap>
                  <v-flex xs12>
                    <v-textarea v-model="descripcion_bitacora" label="Descripción" outline solo></v-textarea>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        flat
                        color="primary"
                        :disabled="!descripcion_bitacora"
                        :loading="blbitacora"
                        @click="actualizarBitacora"
                      >Agregar</v-btn>
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-flex>
                </v-layout>
              </div>
            </v-widget>
          </v-flex>
          <v-flex :xs6="propias" :xs12="!propias">
            <v-widget title="Historial de actividades" contentBg="white">
              <div slot="widget-content">
                <ol class="timeline timeline-activity timeline-point-sm timeline-content-right">
                  <li
                    class="timeline-block"
                    v-for="(item, index) in bitacora"
                    :key="index"
                    :title="
                      item.fechahora
                        | moment('dddd, DD [de] MMMM [de] YYYY, hh:mm:ss A')
                    "
                  >
                    <div class="timeline-point">
                      <v-circle pill color="primary"></v-circle>
                    </div>
                    <div class="timeline-content">
                      <time
                        :datetime="item.fechahora"
                        :title="
                          item.fechahora
                            | moment('dddd, DD [de] MMMM [de] YYYY, hh:mm:ss A')
                        "
                        class="caption"
                      >
                        {{ item.fechahora | moment("from") }}
                      </time>
                      <div v-html="item.descripcion"></div>
                    </div>
                  </li>
                </ol>
              </div>
            </v-widget>
          </v-flex>
        </v-layout>
      </v-tab-item>
    </v-tabs-items>

    <v-bottom-nav
      color="transparent"
      :active.sync="activeBtn"
      :value="showNav"
      absolute
    >
      <v-btn
        flat
        color="cyan"
        :loading="dialog"
        @click="recepcionar"
        v-if="propias"
        :disabled="blrecepcionar"
      >
        <span>Recepcionar</span>
        <v-icon>history</v-icon>
      </v-btn>

      <v-btn
        flat
        color="blue"
        @click="xdialog.presentar = true"
        v-if="propias"
        :disabled="blpresentar"
      >
        <span>Presentar</span>
        <v-icon>favorite</v-icon>
      </v-btn>

      <v-btn flat color="light-green" @click="xdialog.aceptar = true" :disabled="blaceptar">
        <span>Aceptar</span>
        <v-icon>place</v-icon>
      </v-btn>

      <v-btn flat color="green" @click="xdialog.recibir = true" :disabled="blrecibir">
        <span>Recibir</span>
        <v-icon>place</v-icon>
      </v-btn>

      <v-btn flat color="red" @click="rechazar" v-if="!propias" :disabled="blrechazar">
        <span>Rechazar</span>
        <v-icon>history</v-icon>
      </v-btn>
    </v-bottom-nav>

    <v-dialog v-model="dialog" hide-overlay width="300">
      <v-card color="primary" dark>
        <v-card-text>
          {{ dialog_text }}
          <v-progress-linear color="white" class="mb-0" indeterminate></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="xdialog.presentar"
      transition="dialog-bottom-transition"
      :overlay="false"
      fullscreen
    >
      <PresentarRemision
        :remision="remision"
        @close="xdialog.presentar = false"
        @presentar="onpresentar"
      ></PresentarRemision>
    </v-dialog>

    <v-dialog
      v-model="xdialog.aceptar"
      transition="dialog-bottom-transition"
      :overlay="false"
      fullscreen
    >
      <AceptarRemision
        :remision="remision"
        @close="xdialog.aceptar = false"
        @aceptar="onaceptar"
      ></AceptarRemision>
    </v-dialog>

    <v-dialog
      v-model="xdialog.recibir"
      transition="dialog-bottom-transition"
      :overlay="false"
      fullscreen
    >
      <RecibirRemision
        :remision="remision"
        @close="xdialog.recibir = false"
        @recibir="onrecibir"
      ></RecibirRemision>
    </v-dialog>
  </v-container>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import { mapState, mapActions } from "vuex";
import VWidget from "@/components/VWidget";
import { RemisionEstado } from "@/util/enum.js";
import servicio from "@/services/RemisionService";
import PresentarRemision from "@/views/remisiones/PresentarRemision";
import AceptarRemision from "@/views/remisiones/AceptarRemision";
import RecibirRemision from "@/views/remisiones/RecibirRemision";

const auth = createNamespacedHelpers("autenticacion");
const mapStateAuth = auth.mapState;

export default {
  components: {
    VWidget,
    PresentarRemision,
    AceptarRemision,
    RecibirRemision
  },

  props: {
    idremision: {
      type: [Number, String],
      required: true
    },

    propias: {
      type: Boolean,
      required: false,
      default: true
    }
  },

  data() {
    return {
      remision: servicio.default_object(),
      formatofecha: "MMMM DD [de] YYYY",
      loading: false,
      blbitacora: false,
      dialog: false,
      dialog_text: "Please stand by",
      current_tab: null,
      activeBtn: undefined,
      showNav: true,
      descripcion_bitacora: "",
      xdialog: {
        presentar: false,
        aceptar: false,
        recibir: false
      }
    };
  },

  computed: {
    ...mapState(["pageheader"]),
    ...mapStateAuth({ xprestador: state => state.profile.prestador }),

    estado_config() {
      return this.remision.estado == RemisionEstado.PENDIENTE
        ? { text: "PENDIENTE", color: "cyan", icon: "check_circle" }
        : this.remision.estado == RemisionEstado.PRESENTADA
        ? { text: "PRESENTADA", color: "blue", icon: "check_circle" }
        : this.remision.estado == RemisionEstado.ACEPTADA
        ? { text: "ACEPTADA", color: "light-green", icon: "check_circle" }
        : this.remision.estado == RemisionEstado.RECIBIDA
        ? { text: "RECIBIDA", color: "green", icon: "check_circle" }
        : { text: "SOLICITADA", color: "orange", icon: "check_circle" };
    },

    nombre_completo_paciente() {
      let p = this.remision.paciente.persona;
      return (
        p.nombre1 + " " + p.nombre2 + " " + p.apellido1 + " " + p.apellido2
      );
    },

    nombre_completo_acudiente() {
      let p = this.remision.acudiente.persona;
      return (
        p.nombre1 + " " + p.nombre2 + " " + p.apellido1 + " " + p.apellido2
      );
    },

    nombre_completo_profesional() {
      let p = this.remision.profesional.persona;
      return (
        p.nombre1 + " " + p.nombre2 + " " + p.apellido1 + " " + p.apellido2
      );
    },

    prestador() {
      return this.remision.prestador;
    },

    paciente() {
      return this.remision.paciente;
    },

    acudiente() {
      return this.remision.acudiente;
    },

    pagador() {
      return this.remision.pagador;
    },

    profesional() {
      return this.remision.profesional;
    },

    bitacora() {
      return this.remision.bitacora;
    },

    blrecepcionar() {
      return !(this.remision.estado == RemisionEstado.SOLICITADA);
    },

    blpresentar() {
      return !(
        this.remision.estado == RemisionEstado.PENDIENTE ||
        this.remision.estado == RemisionEstado.PRESENTADA
      );
    },

    blaceptar() {
      return !(
        this.remision.estado == RemisionEstado.PRESENTADA ||
        this.remision.estado == RemisionEstado.ACEPTADA
      );
    },

    blrecibir() {
      return !(this.remision.estado == RemisionEstado.ACEPTADA);
    },

    blrechazar() {
      return !(this.remision.estado == RemisionEstado.PRESENTADA);
    }
  },

  watch: {
    "pageheader.refresh": function() {
      if (this.pageheader.refresh) {
        this.obtenerRemision();
        this.finishRefresh();
      }
    },

    remision: function() {
      this.activeBtn =
        this.remision.estado == RemisionEstado.PENDIENTE
          ? 0
          : this.remision.estado == RemisionEstado.PRESENTADA
          ? 1
          : this.remision.estado == RemisionEstado.ACEPTADA
          ? 2
          : this.remision.estado == RemisionEstado.RECIBIDA
          ? 3
          : undefined;
      this.ordenarBitacora();
    }
  },

  methods: {
    ...mapActions(["startRefresh", "finishRefresh"]),

    obtenerRemision() {
      let that = this;
      that.loading = true;
      servicio
        .fetchone(this.idremision)
        .then(response => {
          that.remision = response.data;
          that.loading = false;
        })
        .catch(() => (that.loading = false));
    },

    ordenarBitacora() {
      this.remision.bitacora.sort((a, b) => {
        if (a.fechahora < b.fechahora) return 1;
        if (a.fechahora > b.fechahora) return -1;
        return 0;
      });
    },

    actualizarBitacora() {
      let that = this;
      let data = {
        idremision: this.remision.id,
        descripcion: this.descripcion_bitacora
      };
      that.blbitacora = true;
      servicio
        .actualizarBitacora(data)
        .then(response => {
          that.remision = response.data;
          that.blbitacora = false;
          that.descripcion_bitacora = "";
        })
        .catch(() => (that.blbitacora = false));
    },

    recepcionar() {
      let that = this;
      that.dialog = true;
      that.dialog_text = "Recepcionando la remisión";
      servicio
        .recepcionar(this.remision.id)
        .then(response => {
          that.remision = response.data;
          that.dialog = false;
        })
        .catch(() => (that.dialog = false));
    },

    aceptar() {
      let that = this;
      let data = {
        idremision: this.remision.id,
        idprestador: this.xprestador.id
      };
      that.dialog = true;
      that.dialog_text = "Aceptando la remisión";
      servicio
        .aceptar(data)
        .then(response => {
          that.remision = response.data;
          that.dialog = false;
        })
        .catch(() => (that.dialog = false));
    },

    recibir() {
      let that = this;
      let data = {
        idremision: this.remision.id,
        idprestador: this.xprestador.id
      };
      that.dialog = true;
      that.dialog_text = "Recibiendo la remisión";
      servicio
        .recibir(data)
        .then(response => {
          that.remision = response.data;
          that.dialog = false;
        })
        .catch(() => (that.dialog = false));
    },

    onpresentar(r) {
      this.remision = r;
      this.xdialog.presentar = false;
    },

    onaceptar(r) {
      this.remision = r;
      this.xdialog.aceptar = false;
    },

    onrecibir(r) {
      this.remision = r;
      this.xdialog.recibir = false;
    }
  },

  created() {
    this.obtenerRemision();
  }
};
</script>
