<template>
  <v-container grid-list-xl fluid>
    <v-layout row wrap>
      <v-flex lg12>
        <v-tabs :right="false">
          <v-tab @change="cambiarEstado(RemisionEstado.PRESENTADA)">
            <v-chip color="blue" text-color="white" label>PRESENTADAS</v-chip>
          </v-tab>
          <v-tab @change="cambiarEstado(RemisionEstado.ACEPTADA)">
            <v-chip color="light-green" text-color="white" label>ACEPTADAS</v-chip>
          </v-tab>
          <v-tab @change="cambiarEstado(RemisionEstado.RECIBIDA)">
            <v-chip color="green" text-color="white" label>RECIBIDAS</v-chip>
          </v-tab>
          <v-tab @change="cambiarEstado(RemisionEstado.SUSPENDIDA)">
            <v-chip color="red" text-color="white" label>RECHAZADAS</v-chip>
          </v-tab>
        </v-tabs>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex lg12>
        <v-data-table
          :headers="headers"
          :items="items"
          :loading="loading"
          item-key="codigo"
          class="elevation-1"
          sort-icon="arrow_upward"
        >
          <template #items="props">
            <tr>
              <td>
                <v-list dense to="/rwer">
                  <v-list-tile
                    :to="{ name: 'remision-detail', params: { idremision: props.item.id, propias: false } }"
                  >
                    <v-list-tile-content>
                      <v-list-tile-title>
                        <span>{{ props.item.prestador.nombre }}</span>
                      </v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </td>
              <td>{{ props.item.paciente.persona.nombre1 }}</td>
              <td>{{ props.item.servicio_referencia }}</td>
              <td>{{ props.item.pagador.nombre }}</td>
            </tr>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import { mapState, mapActions } from "vuex";
import { RemisionEstado } from "@/util/enum.js";
import servicio from "@/services/RemisionService";

const auth = createNamespacedHelpers("autenticacion");
const mapStateAuth = auth.mapState;

export default {
  data() {
    return {
      RemisionEstado,
      estado: RemisionEstado.PRESENTADA,
      loading: false,
      headers: [
        {
          text: "Prestador de salud",
          sortable: true,
          value: "prestador.nombre"
        },
        { text: "Paciente", sortable: true, value: "paciente.persona.nombre1" },
        {
          text: "Servicio solicitado",
          sortable: true,
          value: "servicio_referencia"
        },
        {
          text: "Pagador",
          sortable: true,
          value: "pagador.nombre"
        }
      ],
      remisiones: [] // lista de remisiones presentadas
    };
  },

  computed: {
    ...mapState(["pageheader"]),
    ...mapStateAuth({ prestador: state => state.profile.prestador }),

    items() {
      return this.remisiones
        .filter(e => e.respuesta == this.estado)
        .map(e => e.remision);
    },

    total_items() {
      return this.remisiones.reduce(e => e.respuesta == this.estado);
    }
  },

  watch: {
    "pageheader.refresh": function() {
      if (this.pageheader.refresh) {
        this.actualizar();
        this.finishRefresh();
      }
    }
  },

  methods: {
    ...mapActions(["startRefresh", "finishRefresh"]),

    cambiarEstado(estado) {
      this.estado = estado;
    },

    actualizar() {
      let that = this;
      that.loading = true;
      servicio
        .fetch_presentadas(this.prestador.id)
        .then(response => {
          that.remisiones = response.data;
          that.loading = false;
        })
        .catch(() => (that.loading = false));
    }
  },

  mounted() {
    this.actualizar();
  }
};
</script>
