<template>
  <v-card>
    <v-toolbar dark fixed color="primary">
      <v-btn icon @click.native="close" dark>
        <v-icon>close</v-icon>
      </v-btn>
      <span class="subheading">{{ nombre_completo_paciente }}</span>
      <v-divider class="mx-3 hidden-sm-and-down" inset vertical></v-divider>
      <span class="subheading hidden-sm-and-down">
        {{ remision.servicio_referencia }}
      </span>
      <v-spacer></v-spacer>
      <span class v-if="conteo > 0">{{ conteo }} Prestadores</span>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn
          :loading="loading"
          @click.native="recibir"
          dark
          flat
          :disabled="conteo <= 0"
        >
          Recibir la remisión
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <PrestadorSelector
      ref="selector"
      :remision="remision"
      :multiple="false"
      xaction="RECIBIR"
      @update:prestadores_seleccionados="actualizarPrestadores"
    ></PrestadorSelector>
  </v-card>
</template>

<script>
import servicio_remision from "@/services/RemisionService";
import PrestadorSelector from "@/components/prestadores/PrestadorSelector";

export default {
  components: {
    PrestadorSelector
  },

  props: {
    remision: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      loading: false,
      prestadores_seleccionados: []
    };
  },

  computed: {
    idprestador() {
      return this.prestadores_seleccionados[0].id;
    },

    conteo() {
      return this.prestadores_seleccionados.length;
    },

    nombre_completo_paciente() {
      let p = this.remision.paciente.persona;
      return (
        p.nombre1 + " " + p.nombre2 + " " + p.apellido1 + " " + p.apellido2
      );
    }
  },

  methods: {
    reset() {
      this.$refs.selector.reset();
      this.prestadores_seleccionados.splice(0);
    },

    actualizarPrestadores(prestadores) {
      this.prestadores_seleccionados = prestadores;
    },

    close() {
      this.reset();
      this.$emit("close");
    },

    recibir() {
      let that = this;
      let xremision = this.remision;
      let data = {
        idremision: this.remision.id,
        idprestador: this.idprestador
      };
      that.loading = true;
      servicio_remision
        .recibir(data)
        .then(response => {
          xremision = response.data;
          that.loading = false;
        })
        .catch(() => (that.loading = false))
        .then(() => {
          that.reset();
          that.$emit("recibir", xremision)
        });
    }
  }
};
</script>
