<template>
  <v-container grid-list-xl fluid>
    <v-layout row wrap>
      <v-flex sm12>
        <v-stepper v-model="step">
          <v-stepper-header>
            <v-stepper-step editable :complete="formPrestador" :rules="rules.prestador" step="1">
              Prestador del Servicio Salud
              <small>{{ remision.prestador.nombre }}</small>
            </v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step editable :complete="formPaciente" :rules="rules.paciente" step="2">
              Datos del Paciente
              <small v-if="formPaciente">{{ nombre_paciente }}</small>
            </v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step editable :complete="formAcudiente" :rules="rules.acudiente" step="3">
              Datos del Acudiente
              <small v-if="formAcudiente">{{ nombre_acudiente }}</small>
            </v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step
              editable
              :complete="formProfesional"
              :rules="rules.profesional"
              step="4"
            >
              Profesional tratante
              <small v-if="formProfesional">{{ nombre_profesional }}</small>
            </v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step
              editable
              :complete="formInfoClinica"
              :rules="rules.info_clinica"
              step="5"
            >Informacion clinica relevante</v-stepper-step>
          </v-stepper-header>

          <v-stepper-items>
            <v-stepper-content step="1">
              <v-container fluid>
                <v-layout align-center justify-center row fill-height>
                  <v-flex xs12 md3>
                    <h5 class="subheading pa-3">Seleccionar prestador de salud</h5>
                    <v-btn color="primary" @click="xdialog.prestador = true">
                      <v-icon>mdi-stethoscope</v-icon>
                    </v-btn>
                  </v-flex>
                  <v-flex xs12 md9 pa-1>
                    <v-layout>
                      <v-flex>
                        <v-divider vertical></v-divider>
                      </v-flex>
                      <v-flex xs12 md8>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ remision.prestador.nombre }}</v-list-tile-title>
                              <v-list-tile-sub-title>Nombre</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>

                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ remision.prestador.direccion }}</v-list-tile-title>
                              <v-list-tile-sub-title>Dirección</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>

                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ remision.prestador.correo_referencia }}</v-list-tile-title>
                              <v-list-tile-sub-title>Correo proceso referencia</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>

                      <v-flex xs12 md4>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>
                                {{ remision.prestador.municipio.nombre }},
                                {{ remision.prestador.municipio.departamento.nombre }}
                              </v-list-tile-title>
                              <v-list-tile-sub-title>Municipio</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ remision.prestador.codigo }}</v-list-tile-title>
                              <v-list-tile-sub-title>Código de habilitación</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex px-0>
                    <v-btn
                      flat
                      color="primary"
                      @click="step = 2"
                      :disabled="!formPrestador"
                      >Continuar</v-btn
                    >
                    <v-btn flat v-if="false">Cancelar</v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-stepper-content>

            <v-stepper-content step="2">
              <v-form v-model="formPaciente">
                <PanelPersona :persona="remision.paciente.persona"></PanelPersona>
                <v-container fluid py-0 mb-3>
                  <v-layout row wrap>
                    <v-flex xs12 md6 pa-1>
                      <v-text-field
                        v-model="remision.paciente.direccion"
                        :rules="[rules.required]"
                        label="Dirección"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 md6 pa-1>
                      <v-text-field
                        v-model="remision.paciente.telefono"
                        :rules="[rules.required]"
                        label="Telefono"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
              <v-container fluid>
                <v-layout row wrap>
                  <v-flex xs12>
                    <h3>Entidad Responsable de Pago</h3>
                    <br>
                  </v-flex>
                </v-layout>
                <v-layout align-center justify-center fill-height row wrap>
                  <v-flex xs12 md3>
                    <h5 class="subheading pa-3">Seleccionar pagador</h5>
                    <v-btn color="primary" @click="xdialog.pagador = true">
                      <v-icon>mdi-bank</v-icon>
                    </v-btn>
                  </v-flex>
                  <v-flex xs12 md9 pa-1>
                    <v-layout row>
                      <v-flex>
                        <v-divider vertical></v-divider>
                      </v-flex>
                      <v-flex xs12 md8>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ remision.pagador.nombre }}</v-list-tile-title>
                              <v-list-tile-sub-title>Nombre</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>

                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ remision.pagador.direccion }}</v-list-tile-title>
                              <v-list-tile-sub-title>Dirección</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>

                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ remision.pagador.correo_referencia }}</v-list-tile-title>
                              <v-list-tile-sub-title>Correo proceso referencia</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>

                      <v-flex xs12 md4>
                        <v-list two-line dense>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ remision.pagador.telefono }}</v-list-tile-title>
                              <v-list-tile-sub-title>Teléfono</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-list-tile avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>{{ remision.pagador.codigo }}</v-list-tile-title>
                              <v-list-tile-sub-title>Código de habilitación</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex px-0>
                    <v-btn
                      flat
                      color="primary"
                      :disabled="!formPaciente"
                      @click="step = 3"
                    >Continuar</v-btn>
                    <v-btn flat @click="step = 1">Atras</v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-stepper-content>

            <v-stepper-content step="3">
              <v-container fluid mb-3>
                <v-layout row wrap>
                  <v-flex xs12 sm6 md3 pa-1>
                    <v-select
                      v-model="remision.acudiente.persona.tipoIdentificacion"
                      :items="tipoIdentificacion"
                      :rules="[rules.required]"
                      item-text="nombre"
                      item-value="valor"
                      label="Tipo de identificación"
                      cache-items
                      clearable
                      validate-on-blur
                    ></v-select>
                  </v-flex>

                  <v-flex xs12 sm6 md3 pa-1>
                    <v-text-field
                      v-model="remision.acudiente.persona.numeroIdentificacion"
                      :rules="[rules.required]"
                      label="Número identificación"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 md6 pa-1>
                    <v-text-field
                      v-model="remision.acudiente.telefono"
                      :rules="[rules.required]"
                      label="Telefono"
                    ></v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout row>
                  <v-flex md6 pa-1>
                    <v-text-field
                      v-model="remision.acudiente.persona.apellido1"
                      :rules="[rules.required]"
                      label="Primer apellido"
                    ></v-text-field>
                  </v-flex>

                  <v-flex md6 pa-1>
                    <v-text-field
                      v-model="remision.acudiente.persona.apellido2"
                      :rules="[rules.required]"
                      label="Segundo apellido"
                    ></v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout row>
                  <v-flex md6 pa-1>
                    <v-text-field
                      v-model="remision.acudiente.persona.nombre1"
                      :rules="[rules.required]"
                      label="Primer nombre"
                    ></v-text-field>
                  </v-flex>

                  <v-flex md6 pa-1>
                    <v-text-field
                      v-model="remision.acudiente.persona.nombre2"
                      label="Segundo nombre"
                    ></v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout row>
                  <v-flex xs12 pa-1>
                    <v-text-field v-model="remision.acudiente.direccion" label="Dirección"></v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout row>
                  <v-flex px-0>
                    <v-btn
                      flat
                      color="primary"
                      :disabled="!formAcudiente"
                      @click="step = 4"
                    >Continuar</v-btn>
                    <v-btn flat @click="step = 2">Atras</v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-stepper-content>

            <v-stepper-content step="4">
              <v-container fluid mb-3>
                <v-layout row wrap>
                  <v-flex xs12 sm6 md3 pa-1>
                    <v-select
                      v-model="remision.profesional.persona.tipoIdentificacion"
                      :items="tipoIdentificacion"
                      :rules="[rules.required]"
                      item-text="nombre"
                      item-value="valor"
                      label="Tipo de identificación"
                      cache-items
                      clearable
                      validate-on-blur
                    ></v-select>
                  </v-flex>

                  <v-flex xs12 sm6 md3 pa-1>
                    <v-text-field
                      v-model="
                        remision.profesional.persona.numeroIdentificacion
                      "
                      :rules="[rules.required]"
                      label="Número identificación"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 md6 pa-1>
                    <v-text-field v-model="remision.profesional.telefono" label="Telefono"></v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout row wrap v-if="false">
                  <v-flex xs12 pa-1>
                    <v-text-field v-model="nombre_completo_profesional" label="Nombre completo"></v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout row wrap>
                  <v-flex md6 pa-1>
                    <v-text-field
                      v-model="remision.profesional.persona.apellido1"
                      :rules="[rules.required]"
                      label="Primer apellido"
                    ></v-text-field>
                  </v-flex>

                  <v-flex md6 pa-1>
                    <v-text-field
                      v-model="remision.profesional.persona.apellido2"
                      :rules="[rules.required]"
                      label="Segundo apellido"
                    ></v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout row>
                  <v-flex md6 pa-1>
                    <v-text-field
                      v-model="remision.profesional.persona.nombre1"
                      :rules="[rules.required]"
                      label="Primer nombre"
                    ></v-text-field>
                  </v-flex>

                  <v-flex md6 pa-1>
                    <v-text-field
                      v-model="remision.profesional.persona.nombre2"
                      label="Segundo nombre"
                    ></v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout row wrap>
                  <v-flex xs12 md6 pa-1>
                    <v-text-field v-model="remision.servicio_referente" label="Servicio referente"></v-text-field>
                  </v-flex>

                  <v-flex xs12 md6 pa-1>
                    <v-text-field
                      v-model="remision.servicio_referencia"
                      label="Servicio referencia"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex px-0>
                    <v-btn
                      flat
                      color="primary"
                      :disabled="!formProfesional"
                      @click="step = 5"
                    >Continuar</v-btn>
                    <v-btn flat @click="step = 3">Atras</v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-stepper-content>

            <v-stepper-content step="5">
              <v-container fluid pb-0 mb-3>
                <v-layout row>
                  <v-flex xs12 pa-1>
                    <v-textarea
                      v-model="remision.info_clinica"
                      label="Descripción de la anamnesis del paciente"
                      outline
                    ></v-textarea>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex px-0>
                    <v-btn
                      color="primary"
                      @click="onSolicitar"
                      :loading="loading"
                      :disabled="!puedeSolicitar"
                      >Solicitar</v-btn
                    >
                    <v-btn flat @click="step = 4">Atras</v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-flex>
    </v-layout>

    <v-dialog
      v-model="xdialog.prestador"
      transition="dialog-bottom-transition"
      :overlay="false"
      fullscreen
    >
      <PrestadorSelectorCard
        :remision="remision"
        :multiple="false"
        @close="xdialog.prestador = false"
        @seleccionar="onSeleccionarPrestador"
      ></PrestadorSelectorCard>
    </v-dialog>

    <v-dialog
      v-model="xdialog.pagador"
      transition="dialog-bottom-transition"
      :overlay="false"
      fullscreen
    >
      <PagadorSelectorCard
        :multiple="false"
        @close="xdialog.pagador = false"
        @seleccionar="onSeleccionarPagador"
      ></PagadorSelectorCard>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapState, mapActions } from "vuex";
import servicio from "../../services/RemisionService";
import PanelPersona from "@/components/personas/PanelPersona";
import PrestadorSelectorCard from "@/components/prestadores/PrestadorSelectorCard";
import PagadorSelectorCard from "@/components/pagadores/PagadorSelectorCard";

export default {
  components: {
    PanelPersona,
    PrestadorSelectorCard,
    PagadorSelectorCard
  },

  data() {
    let that = this;
    return {
      step: 1,
      loading: false,
      remision: servicio.default_object(),
      nombre_completo_profesional: "",
      formPrestador: false,
      formPaciente: false,
      formAcudiente: false,
      formProfesional: false,
      formInfoClinica: false,
      xdialog: {
        prestador: false,
        pagador: false
      },
      rules: {
        required: value => !!value || "Requerido.",
        prestador: [
          () =>
            that.remision.prestador.id != 0 ||
            that.step <= 1 ||
            "Falta el primer nombre"
        ],
        paciente: [
          () =>
            that.remision.paciente.persona.nombre1.length > 0 ||
            that.step <= 2 ||
            "Falta el primer nombre"
        ],
        acudiente: [
          () =>
            that.remision.acudiente.persona.nombre1.length > 0 ||
            that.step <= 3 ||
            "Falta el primer nombre"
        ],
        profesional: [
          () =>
            that.remision.profesional.persona.nombre1.length > 0 ||
            that.step <= 4 ||
            "Falta el primer nombre"
        ],
        info_clinica: [
          () =>
            that.remision.info_clinica.length > 0 ||
            that.step < 5 ||
            "Falta la información clínica"
        ]
      }
    };
  },

  computed: {
    ...mapState("constante", ["tipoIdentificacion", "sexo"]),

    nombre_paciente() {
      let nombre1 = this.remision.paciente.persona.nombre1;
      let apellido1 = this.remision.paciente.persona.apellido1;
      return `${nombre1} ${apellido1}`;
    },

    nombre_acudiente() {
      let nombre1 = this.remision.acudiente.persona.nombre1;
      let apellido1 = this.remision.acudiente.persona.apellido1;
      return `${nombre1} ${apellido1}`;
    },

    nombre_profesional() {
      let nombre1 = this.remision.profesional.persona.nombre1;
      let apellido1 = this.remision.profesional.persona.apellido1;
      return `${nombre1} ${apellido1}`;
    },

    puedeSolicitar() {
      return (
        this.formPaciente &&
        this.formAcudiente &&
        this.formProfesional &&
        this.formInfoClinica
      );
    }
  },

  watch: {
    nombre_completo_profesional() {
      let nombres = this.nombre_completo_profesional.split(" ");
      let N1 = 0,
        N2 = 1,
        A1 = 2,
        A2 = 3;

      if (nombres.length == 2) {
        A1 = 1;
        N2 = 3;
      }

      this.remision.profesional.persona.nombre1 = nombres[N1];
      this.remision.profesional.persona.nombre2 = nombres[N2];
      this.remision.profesional.persona.apellido1 = nombres[A1];
      this.remision.profesional.persona.apellido2 = nombres[A2];
    },

    "remision.prestador": {
      deep: true,
      handler: function() {
        let value = undefined;
        let prestador = this.remision.prestador;

        if (prestador.id == 0) value = false;
        else value = true;

        this.formPrestador = value;
      }
    },

    "remision.paciente": {
      deep: true,
      handler: "onformPaciente"
    },

    "remision.pagador": {
      deep: true,
      handler: "onformPaciente"
    },

    "remision.acudiente": {
      deep: true,
      handler: function() {
        let value = undefined;
        let acudiente = this.remision.acudiente;
        let persona = acudiente.persona;

        if (persona.tipoIdentificacion.length <= 0) value = false;
        else if (persona.numeroIdentificacion.length <= 0) value = false;
        else if (persona.apellido1.length <= 0) value = false;
        else if (persona.apellido2.length <= 0) value = false;
        else if (persona.nombre1.length <= 0) value = false;
        //else if (persona.nombre2.length <= 0) value = false;
        else if (acudiente.direccion.length <= 0) value = false;
        else if (acudiente.telefono.length <= 0) value = false;
        else value = true;

        this.formAcudiente = value;
      }
    },

    "remision.profesional": {
      deep: true,
      handler: "onformProfesional"
    },

    "remision.servicio_referente": "onformProfesional",

    "remision.servicio_referencia": "onformProfesional",

    "remision.info_clinica": {
      handler: function() {
        let value = undefined;

        if (this.remision.info_clinica.length <= 0) value = false;
        else value = true;

        this.formInfoClinica = value;
      }
    }
  },

  methods: {
    ...mapActions(["showAppSnackBar"]),

    onformPaciente() {
      let value = undefined;
      let paciente = this.remision.paciente;
      let pagador = this.remision.pagador;
      let persona = paciente.persona;

      if (persona.tipoIdentificacion.length <= 0) value = false;
      else if (persona.numeroIdentificacion.length <= 0) value = false;
      else if (persona.apellido1.length <= 0) value = false;
      else if (persona.apellido2.length <= 0) value = false;
      else if (persona.nombre1.length <= 0) value = false;
      //else if (persona.nombre2.length <= 0) value = false;
      else if (paciente.direccion.length <= 0) value = false;
      else if (paciente.telefono.length <= 0) value = false;
      else if (pagador.id == 0) value = false;
      else value = true;

      this.formPaciente = value;
    },

    onformProfesional() {
      let value = undefined;
      let profesional = this.remision.profesional;
      let persona = profesional.persona;

      if (persona.tipoIdentificacion.length <= 0) value = false;
      else if (persona.numeroIdentificacion.length <= 0) value = false;
      else if (persona.apellido1.length <= 0) value = false;
      else if (persona.apellido2.length <= 0) value = false;
      else if (persona.nombre1.length <= 0) value = false;
      //else if (persona.nombre2.length <= 0) value = false;
      //else if (profesional.direccion.length <= 0) value = false;
      else if (profesional.telefono.length <= 0) value = false;
      else if (this.remision.servicio_referente.length <= 0) value = false;
      else if (this.remision.servicio_referencia.length <= 0) value = false;
      else value = true;

      this.formProfesional = value;
    },

    onChangePrestador() {
      console.log("onChangePrestador");
      console.log(this.prestador.Description);
    },

    onSeleccionarPrestador(prestadores) {
      console.log("onSeleccionarPrestador", prestadores);
      this.remision.prestador = prestadores[0];
      this.xdialog.prestador = false;
    },

    onSeleccionarPagador(pagadores) {
      console.log("onSeleccionarPagador", pagadores);
      this.remision.pagador = pagadores[0];
      this.xdialog.pagador = false;
    },

    onSolicitar() {
      this.solicitar();
    },

    rules_paciente() {},

    solicitar() {
      let that = this;
      let options = {
        remision: this.remision
      };

      console.log("Solicitando remisión");
      that.loading = true;

      servicio
        .solicitar(options)
        .then(response => {
          this.remision = response.data;
          that.loading = false;

          const snackbar = {
            color: "success",
            text: "Operación realizada con éxito"
          };

          this.showAppSnackBar(snackbar);
        })
        .catch(error => {
          that.loading = false;

          const snackbar = {
            color: "red",
            text: `No se pudo realizar la operación: ${error.message}`
          };

          this.showAppSnackBar(snackbar);
        })
        .then(() => {});
    }
  }
};
</script>
