<template>
  <v-container grid-list-xl fluid>
    <v-layout row wrap>
      <v-flex v-if="false" sm12>
        <h4>Maestro de Departamento</h4>
      </v-flex>
      <v-flex sm12 md12>
        <v-card>
          <v-toolbar card color="white">
            <v-text-field
              flat
              solo
              hide-details
              prepend-icon="search"
              placeholder="Filtrar datos"
              class="hidden-sm-and-down"
              v-model="query_search"
            ></v-text-field>
            <v-btn icon>
              <v-icon>filter_list</v-icon>
            </v-btn>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on" @click="actualizar" :loading="loading">
                  <v-icon>refresh</v-icon>
                </v-btn>
              </template>
              <span>Actualizar</span>
            </v-tooltip>
          </v-toolbar>
          <v-divider></v-divider>
          <v-card-text class="pa-0">
            <v-data-table
              v-model="selected_rows"
              :headers="headers"
              :items="departamentos"
              :loading="loading"
              :pagination.sync="pagination"
              :search="query_search"
              select-all
              item-key="codigo"
              class="elevation-1"
              sort-icon="arrow_upward"
            >
              <template #items="props">
                <td>
                  <v-checkbox
                    v-model="props.selected"
                    primary
                    hide-details
                  ></v-checkbox>
                </td>
                <td>{{ props.item.codigo }}</td>
                <td>{{ props.item.nombre }}</td>
              </template>

              <!--<template #no-results>
                Your search for "query" found no results.
              </template>-->
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const { mapState, mapActions } = createNamespacedHelpers("departamento");

export default {
  data() {
    return {
      headers: [
        { text: "Código", sortable: true, value: "codigo" },
        { text: "Nombre", sortable: true, value: "nombre" }
      ],

      pagination: {
        sortBy: "nombre"
      },

      loading: false,
      query_search: "",

      selected_rows: []
    };
  },

  computed: {
    ...mapState(["departamentos"])
  },

  methods: {
    actualizar: function() {
      this.loading = true;
      this.fetchDepartamentos();
    },

    ...mapActions(["fetchDepartamentos"])
  },

  watch: {
    departamentos() {
      this.loading = false;
    }
  },

  created() {
    if (this.departamentos.length <= 0) this.actualizar();
  }
};
</script>
