<template>
  <v-container grid-list-xl fluid>
    <v-layout row wrap>
      <v-flex sm12>
        <h4>Maestro de Municipios</h4>
      </v-flex>
      <v-flex sm12 md12>
        <v-card>
          <v-toolbar card color="white">
            <v-flex md4>
              <v-autocomplete
                v-model="selected_departamento"
                :hint="
                  `${selected_departamento.nombre},
                ${selected_departamento.codigo}`
                "
                :items="departamentos"
                :filter="customFilter"
                prepend-icon="search"
                item-text="nombre"
                item-value="codigo"
                label="Departamento"
                flat
                solo
                hide-details
                persistent-hint
                return-object
                single-line
              ></v-autocomplete>
            </v-flex>
            <v-tooltip top>
              <template #activator="{ on }">
                <v-text-field
                  v-on="on"
                  v-model="query_search"
                  :placeholder="$t('placeholder.filterdata')"
                  flat
                  solo
                  hide-details
                  class="hidden-sm-and-down"
                ></v-text-field>
              </template>
              <span>Filtra dados sobre codigo y nombre del municipio</span>
            </v-tooltip>
            <v-btn icon @click="resetFilters">
              <v-icon>add</v-icon>
            </v-btn>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on" @click="actualizar" :loading="loading">
                  <v-icon>refresh</v-icon>
                </v-btn>
              </template>
              <span>{{ $t("tooltip.refresh") }}</span>
            </v-tooltip>
          </v-toolbar>
          <v-divider></v-divider>
          <v-card-text class="pa-0">
            <v-data-table
              v-model="selected_rows"
              :headers="headers"
              :items="municipios"
              :loading="loading"
              :pagination.sync="pagination"
              :search="query_search"
              :custom-filter="filterData"
              select-all
              item-key="codigo"
              class="elevation-1"
              sort-icon="arrow_upward"
            >
              <template #items="props">
                <td>
                  <v-checkbox
                    v-model="props.selected"
                    primary
                    hide-details
                  ></v-checkbox>
                </td>
                <td>{{ props.item.codigo }}</td>
                <td>{{ props.item.nombre }}</td>
                <td>{{ props.item.departamento.nombre }}</td>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import { quitarTildes } from "@/util/functions";

const modDepartamento = createNamespacedHelpers("departamento");
const mapGettersDepartamento = modDepartamento.mapGetters;
const { mapState, mapActions } = createNamespacedHelpers("municipio");

export default {
  data() {
    return {
      headers: [
        { text: "Código", sortable: true, value: "codigo" },
        { text: "Nombre", sortable: true, value: "departamento.nombre" },
        { text: "Departamento", sortable: true, value: "codigo_departamento" }
      ],

      pagination: {
        sortBy: "nombre"
      },

      loading: false,
      query_search: "",

      selected_rows: [],
      selected_departamento: {}
    };
  },

  computed: {
    ...mapGettersDepartamento({
      departamentos: "departamentosOrdenados"
    }),
    ...mapState(["municipios"])
  },

  methods: {
    ...mapActions(["fetch"]),

    actualizar: function() {
      this.loading = true;
      this.fetch();
    },

    resetFilters() {
      this.query_search = "";
      this.selected_rows = [];
      this.selected_departamento = {};
    },

    customFilter(item, queryText) {
      const textOne = item.codigo.toLowerCase();
      const textTwo = item.nombre.toLowerCase();
      const searchText = queryText.toLowerCase();

      return (
        textOne.indexOf(searchText) > -1 || textTwo.indexOf(searchText) > -1
      );
    },

    filterData(items, search) {
      const that = this;

      const filteredItems = items.filter(item => {
        return that.filterDataItem(item, search);
      });

      return filteredItems;
    },

    filterDataItem(val, search) {
      const textOne = quitarTildes(val.codigo.toLowerCase());
      const textTwo = quitarTildes(val.nombre.toLowerCase());
      const searchText = quitarTildes(search.toLowerCase());
      const depart = val.codigo_departamento;
      const blDepart = this.selected_departamento.codigo;

      return (
        (blDepart == "" || blDepart === undefined || blDepart === depart) &&
        (textOne.indexOf(searchText) > -1 || textTwo.indexOf(searchText) > -1)
      );
    }
  },

  watch: {
    municipios() {
      this.loading = false;
    }
  }
};
</script>
