<template>
  <v-container grid-list-xl fluid>
    <v-layout row wrap>
      <v-flex sm12 v-if="false">
        <h4>Maestro de Pagadores</h4>
      </v-flex>
      <v-flex sm12 md12>
        <v-card>
          <v-toolbar card color="white">
            <v-tooltip top>
              <template #activator="{ on }">
                <v-text-field
                  v-on="on"
                  v-model="query_search"
                  :placeholder="$t('placeholder.filterdata')"
                  flat
                  solo
                  hide-details
                  class="hidden-sm-and-down"
                ></v-text-field>
              </template>
              <span>{{ $t("placeholder.filterdata") }}</span>
            </v-tooltip>
            <v-btn icon @click="resetFilters">
              <v-icon>add</v-icon>
            </v-btn>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on" @click="actualizar" :loading="loading">
                  <v-icon>refresh</v-icon>
                </v-btn>
              </template>
              <span>{{ $t("tooltip.refresh") }}</span>
            </v-tooltip>
          </v-toolbar>
          <v-divider></v-divider>
          <v-card-text class="pa-0">
            <v-data-table
              v-model="selected_rows"
              :headers="headers"
              :items="items"
              :loading="loading"
              :pagination.sync="pagination"
              :search="query_search"
              select-all
              item-key="codigo"
              class="elevation-1"
              sort-icon="arrow_upward"
            >
              <template #items="props">
                <td>
                  <v-checkbox
                    v-model="props.selected"
                    primary
                    hide-details
                  ></v-checkbox>
                </td>
                <td>{{ props.item.codigo }}</td>
                <td>{{ props.item.nombre }}</td>
                <td>{{ props.item.direccion }}</td>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { createNamespacedHelpers } from "vuex";

const { mapState, mapActions } = createNamespacedHelpers("pagador");

export default {
  data() {
    return {
      headers: [
        { text: "Código", sortable: true, value: "codigo" },
        { text: "Nombre", sortable: true, value: "nombre" },
        { text: "Dirrección", sortable: true, value: "direccion" }
      ],

      pagination: {
        sortBy: "nombre"
      },

      loading: false,
      query_search: "",
      selected_rows: []
    };
  },

  computed: {
    ...mapState({
      items: "pagadores"
    })
  },

  methods: {
    ...mapActions(["fetch"]),

    actualizar: function() {
      this.loading = true;
      this.fetch();
    },

    resetFilters() {
      this.query_search = "";
      this.selected_rows = [];
    }
  },

  watch: {
    items() {
      this.loading = false;
    }
  }
};
</script>

<style></style>
