<template>
  <v-form v-model="valid">
    <v-container grid-list-xl fluid>
      <v-widget :title="title" toolbarColor="orange">
        <template #widget-content>
          <v-layout row wrap>
            <v-flex xs6 md3>
              <v-select
                v-model="persona.tipoIdentificacion"
                cache-items
                clearable
                item-text="nombre"
                item-value="valor"
                :items="tipoIdentificacion"
                label="Tipo de identificación"
                outline
                required
                validate-on-blur
              ></v-select>
            </v-flex>

            <v-flex xs6 md3>
              <v-text-field
                v-model="persona.numeroIdentificacion"
                :counter="35"
                label="Número identificación"
                outline
                required
              ></v-text-field>
            </v-flex>

            <v-flex xs6 md3>
              <v-menu
                v-model="showMenuFechaNacimiento"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="persona.fechaNacimiento"
                    label="Fecha de Nacimiento"
                    outline
                    required
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="persona.fechaNacimiento"
                  landscape
                  locale="es"
                  @input="showMenuFechaNacimiento = false"
                ></v-date-picker>
              </v-menu>
            </v-flex>

            <v-flex xs6 md3>
              <v-select
                v-model="persona.sexo"
                cache-items
                clearable
                item-text="nombre"
                item-value="valor"
                :items="sexo"
                label="Sexo"
                outline
                required
                validate-on-blur
              ></v-select>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12 md6>
              <v-text-field
                v-model="persona.apellido1"
                label="Primer apellido"
                outline
                required
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6>
              <v-text-field
                v-model="persona.apellido2"
                label="Segundo apellido"
                outline
                required
              ></v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12 md6>
              <v-text-field
                v-model="persona.nombre1"
                label="Primer nombre"
                outline
                required
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6>
              <v-text-field
                v-model="persona.nombre2"
                label="Segundo nombre"
                outline
                required
              ></v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row wrap centered>
            <v-flex xs12 md12>
              <v-btn @click.stop="showConfirmDialog = true">Cancelar</v-btn>
              <v-btn color="primary" @click="onSave" :loading="savingForm" dark
                >Guardar</v-btn
              >
            </v-flex>
          </v-layout>
        </template>
      </v-widget>
      <v-dialog v-model="showConfirmDialog" max-width="290">
        <v-card>
          <v-card-title class="headline"
            >Esta seguro que desea cancelar la operación?</v-card-title
          >

          <v-card-text> </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn flat="flat" @click="showConfirmDialog = false">
              No
            </v-btn>

            <v-btn color="primary darken-1" flat="flat" @click="onCancel">
              Si
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </v-form>
</template>

<script>
import VWidget from "@/components/VWidget";
import router from "@/router/index";

import { createNamespacedHelpers, mapState } from "vuex";
const { mapGetters, mapActions } = createNamespacedHelpers("persona");

export default {
  components: {
    VWidget
  },

  props: {
    id: {
      type: [Number, String],
      required: true
    }
  },

  data: () => ({
    valid: false,
    showConfirmDialog: false,
    savingForm: false,
    v: {},
    nameRules: [
      v => !!v || "Name is required",
      v => v.length <= 10 || "Name must be less than 10 characters"
    ],
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+/.test(v) || "E-mail must be valid"
    ],
    persona: {},
    showMenuFechaNacimiento: false
  }),

  computed: {
    ...mapState("constante", ["tipoIdentificacion", "sexo"]),
    ...mapGetters(["getPersona"]),

    title() {
      return "Editar o Crear Persona";
    }
  },

  mounted() {
    this.persona = this.getPersona(this.id);
  },

  methods: {
    ...mapActions(["update"]),

    goBack() {
      router.go(-1);
    },

    onCancel() {
      this.showConfirmDialog = false;
      this.goBack();
    },

    onSave() {
      var that = this;
      var persona = this.persona;

      this.savingForm = true;
      console.log(this.persona);
      this.update({ persona }).then(() => {
        that.savingForm = false;
        that.goBack();
      });
    }
  }
};
</script>

<style></style>
