<template>
  <v-container grid-list-xl fluid>
    <v-layout row wrap>
      <v-flex sm12 v-if="false">
        <h4>Maestro de Personas</h4>
      </v-flex>
      <v-flex sm12 md12>
        <v-card>
          <v-toolbar card color="white">
            <v-tooltip top>
              <template #activator="{ on }">
                <v-text-field
                  v-on="on"
                  v-model="query_search"
                  :placeholder="$t('placeholder.filterdata')"
                  flat
                  solo
                  hide-details
                  class="hidden-sm-and-down"
                ></v-text-field>
              </template>
              <span>{{ $t("placeholder.filterdata") }}</span>
            </v-tooltip>
            <v-btn :to="{ name: 'persona-new' }">
              Agregar persona
            </v-btn>
            <v-btn icon @click="resetFilters">
              <v-icon>add</v-icon>
            </v-btn>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on" @click="actualizar" :loading="loading">
                  <v-icon>refresh</v-icon>
                </v-btn>
              </template>
              <span>{{ $t("tooltip.refresh") }}</span>
            </v-tooltip>
          </v-toolbar>
          <v-divider></v-divider>
          <v-card-text class="pa-0">
            <v-data-table
              v-model="selected_rows"
              :headers="headers"
              :items="items"
              :loading="loading"
              :pagination.sync="pagination"
              :search="query_search"
              select-all
              item-key="id"
              class="elevation-1"
              sort-icon="arrow_upward"
            >
              <template #items="props">
                <tr>
                  <td>
                    <v-checkbox
                      v-model="props.selected"
                      primary
                      hide-details
                    ></v-checkbox>
                  </td>
                  <td>
                    {{
                      props.item.tipoIdentificacion +
                        " " +
                        props.item.numeroIdentificacion
                    }}
                  </td>
                  <td
                    @mouseover="show_actions = true"
                    @mouseleave="show_actions = false"
                  >
                    {{ fullName(props.item) }}
                  </td>
                  <td>
                    <v-btn
                      flat
                      icon
                      ripple
                      :to="{
                        name: 'persona-edit',
                        params: { id: props.item.id }
                      }"
                    >
                      <v-icon> mdi-pencil-outline </v-icon>
                    </v-btn>
                    <v-btn flat icon ripple @click="onDelete(props.item.id)">
                      <v-icon> mdi-delete </v-icon>
                    </v-btn>
                  </td>
                </tr>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>

        <v-dialog v-model="showDeleteDialog" max-width="290">
          <v-card>
            <v-card-title class="headline">Eliminar registro?</v-card-title>
            <v-card-text>Se eliminará a </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                flat
                @click="showDeleteDialog = false"
                >Cancelar</v-btn
              >
              <v-btn color="red darken-1" flat @click="deleteItem"
                >Eliminar</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import router from "@/router/index";
const { mapGetters, mapState, mapActions } = createNamespacedHelpers("persona");

export default {
  props: {
    page: {
      type: [Number, String],
      required: false,
      default: 1
    }
  },

  data() {
    return {
      headers: [
        { text: "Identificación", sortable: true, value: "codigo" },
        { text: "Nombre", sortable: true, value: "nombre" },
        { text: "Dirrección", sortable: true, value: "direccion" }
      ],

      pagination: {
        sortBy: "nombre",
        page: 1
      },

      loading: false,
      query_search: "",
      selected_rows: [],
      show_actions: {},
      showDeleteDialog: false,
      itemDelete: {}
    };
  },

  computed: {
    ...mapState({
      items: "personas"
    }),

    ...mapGetters({
      getItem: "getPersona"
    })
  },

  watch: {
    items() {
      this.loading = false;
    },

    page() {
      this.pagination.page = this.page;
    },

    "pagination.page"(newval) {
      router.push({ name: "persona-list", params: { page: newval } });
    }
  },

  methods: {
    ...mapActions(["fetch", "delete"]),

    actualizar: function() {
      this.loading = true;
      this.fetch();
    },

    resetFilters() {
      this.query_search = "";
      this.selected_rows = [];
    },

    fullName(persona) {
      return (
        persona.apellido1 +
        " " +
        persona.apellido2 +
        " " +
        persona.nombre1 +
        " " +
        persona.nombre2
      );
    },

    onDelete(id) {
      this.itemDelete = this.getItem(id);
      this.showDeleteDialog = true;
    },

    deleteItem() {
      let that = this;
      this.showDeleteDialog = false;

      this.delete(this.itemDelete).then(() => {
        that.actualizar();
      });
    }
  }
};
</script>

<style></style>
