<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Protecto.tesis</title>
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CMaterial+Icons' rel="stylesheet">-->
    <script src="<%= BASE_URL %>static/js/echarts-en.min.js"></script>
    <link rel="shortcut icon" href="<%= BASE_URL %>static/m.png" type="image/x-icon">
    <meta name="description" content="Vue Material Admin Template is a 
    Google Material Design  inspired admin dashboard template built with Vue  andVuetify.">
    <meta name="keywords" content="admin, dashboard, webapp, template, responsive, material, bootstrap, crm, uikit, framework, backend, app, widgets, premium, file manamger, mail, vue, vuetify, echarts">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vma doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3881136-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-3881136-11');
    </script>-->
  </body>

</html>
