<template>
  <v-app id="login" class="primary">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 lg4>
            <v-card class="elevation-1 pa-4">
              <v-card-text>
                <div class="layout column align-center">
                  <img
                    src="/static/m.png"
                    alt="Vue Material Admin"
                    width="120"
                    height="120"
                  />
                  <h1 class="flex my-4 primary--text">
                    Material Admin Template
                  </h1>
                </div>
                <v-alert
                  type="info"
                  :value="message != ''"
                  outlined
                  dismissible
                >
                  {{ message }}
                </v-alert>
                <br />
                <v-form>
                  <v-text-field
                    append-icon="person"
                    name="login"
                    label="Login"
                    type="text"
                    v-model="model.username"
                  ></v-text-field>
                  <v-text-field
                    append-icon="lock"
                    name="password"
                    label="Password"
                    id="password"
                    type="password"
                    v-model="model.password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn icon>
                  <v-icon color="blue">fa fa-facebook-square fa-lg</v-icon>
                </v-btn>
                <v-btn icon>
                  <v-icon color="red">fa fa-google fa-lg</v-icon>
                </v-btn>
                <v-btn icon>
                  <v-icon color="light-blue">fa fa-twitter fa-lg</v-icon>
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn block color="primary" @click="onLogin" :loading="loading"
                  >Login</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
//import store from "@/store/index";

const { mapState, mapGetters, mapActions } = createNamespacedHelpers(
  "autenticacion"
);

export default {
  data: () => ({
    loading: false,
    model: {
      username: "luyisimiger@gmail.com",
      password: "123456"
    }
  }),

  computed: {
    ...mapState(["auth_token", "status", "message"]),
    ...mapGetters(["user_autenticated"])
  },

  watch: {
    status() {
      this.loading = false;
    }
  },

  methods: {
    ...mapActions(["login"]),

    onLogin() {
      let payload = {};
      let that = this;
      this.loading = true;

      payload["email"] = this.model.username;
      payload["password"] = this.model.password;
      let promesa = this.login(payload);

      promesa.catch(() => (that.loading = false));
    }
  }
};
</script>
<style scoped lang="css">
#login {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
}
</style>
