<template>
  <v-form v-model="valid" ref="myform">
    <v-container grid-list-xl fluid>
      <!--TODO: verificar para borrar <v-widget :title="titulo" toolbarColor="orange">-->
      <v-widget :title="titulo">
        <template #widget-content>
          <v-layout row wrap>
            <v-flex xs6 md3>
              <v-select
                v-model="persona.tipoIdentificacion"
                :items="tipoIdentificacion"
                :rules="rules.tipoIdentificacion"
                cache-items
                clearable
                item-text="nombre"
                item-value="valor"
                label="Tipo de identificación"
                outline
                required
                validate-on-blur
              ></v-select>
            </v-flex>

            <v-flex xs6 md3>
              <v-text-field
                v-model="persona.numeroIdentificacion"
                :rules="rules.identificacion"
                label="Número identificación"
                outline
                required
              ></v-text-field>
            </v-flex>

            <v-flex xs6 md3>
              <v-menu
                v-model="showMenuFechaNacimiento"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="persona.fechaNacimiento"
                    :rules="rules.fecha"
                    label="Fecha de Nacimiento"
                    placeholder="aaaa-mm-dd"
                    outline
                    readonly
                    required
                    v-on="on"
                    @focus="showMenuFechaNacimiento = true"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="persona.fechaNacimiento"
                  landscape
                  locale="es"
                  @input="showMenuFechaNacimiento = false"
                ></v-date-picker>
              </v-menu>
            </v-flex>

            <v-flex xs6 md3>
              <v-select
                v-model="persona.sexo"
                :items="sexo"
                :rules="rules.sexo"
                cache-items
                clearable
                item-text="nombre"
                item-value="valor"
                label="Sexo"
                outline
                required
                validate-on-blur
              ></v-select>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12 md6>
              <v-text-field
                v-model="persona.apellido1"
                :rules="rules.fullname"
                label="Primer apellido"
                outline
                required
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6>
              <v-text-field
                v-model="persona.apellido2"
                :rules="rules.fullname"
                label="Segundo apellido"
                outline
                required
              ></v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12 md6>
              <v-text-field
                v-model="persona.nombre1"
                :rules="rules.fullname"
                label="Primer nombre"
                outline
                required
              ></v-text-field>
            </v-flex>

            <v-flex xs12 md6>
              <v-text-field
                v-model="persona.nombre2"
                :rules="rules.fullname"
                label="Segundo nombre"
                outline
                required
              ></v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row wrap centered>
            <v-flex xs12 md12>
              <v-btn @click.stop="onShowConfirmDialog">Cancelar</v-btn>
              <v-btn
                color="primary"
                @click.stop="onSave"
                :loading="loading"
                dark
                >Guardar</v-btn
              >
            </v-flex>
          </v-layout>
        </template>
      </v-widget>
      <v-dialog v-model="showConfirmDialog" max-width="290">
        <v-card>
          <v-card-title class="headline"
            >Esta seguro que desea cancelar la operación?</v-card-title
          >

          <v-card-text> </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn flat="flat" @click="showConfirmDialog = false">
              No
            </v-btn>

            <v-btn color="primary darken-1" flat="flat" @click.stop="onCancel">
              Si
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </v-form>
</template>

<script>
import VWidget from "@/components/VWidget";
import router from "@/router/index";

import { createNamespacedHelpers, mapState } from "vuex";
const { mapActions } = createNamespacedHelpers("persona");

export default {
  name: "PersonaForm",
  components: {
    VWidget
  },

  props: {
    titulo: {
      type: String,
      required: false,
      default: "Persona Form"
    },

    loading: {
      type: Boolean,
      required: false,
      default: false
    },

    persona: {
      type: [Object],
      required: true
    }
  },

  data: () => ({
    valid: false,
    showConfirmDialog: false,
    showMenuFechaNacimiento: false,
    rules: {
      tipoIdentificacion: [v => !!v || "Campo requerido"],
      sexo: [v => !!v || "Campo requerido"],
      identificacion: [
        v => !!v || "Campo requerido",
        v => /^\d+$/.test(v) || "Solo números"
      ],
      fecha: [
        v => !!v || "Campo requerido",
        v =>
          /^\d{4}-\d{2}-\d{2}$/.test(v) || "El formato correcto es aaaa-mm-dd"
      ],
      fullname: [v => !!v || "Campo requerido"]
    }
  }),

  computed: {
    ...mapState("constante", ["tipoIdentificacion", "sexo"])
  },

  //TODO: borrar
  mounted() {},

  methods: {
    ...mapActions(["update"]),

    goBack() {
      router.go(-1);
    },

    onShowConfirmDialog() {
      this.showConfirmDialog = true;
    },

    onCancel() {
      this.showConfirmDialog = false;
      //this.goBack();

      this.$emit("onCancel");
    },

    onSave() {
      let valido = this.$refs.myform.validate();
      if (valido) this.$emit("onSave", this.persona);
    }
  }
};
</script>

<style></style>
