<template>
  <div>
    <p>Persona New</p>
    <persona-form
      :persona="persona"
      :loading="loading"
      @onCancel="onCancel"
      @onSave="onSave"
    />
  </div>
</template>

<script>
import router from "@/router/index";
import { mapActions } from "vuex";

import PersonaForm from "./PersonaForm";

export default {
  components: { PersonaForm },
  data: () => ({
    persona: {},
    loading: false
  }),

  methods: {
    ...mapActions("persona", ["create"]),

    goBack() {
      router.go(-1);
    },

    onCancel() {
      this.goBack();
    },

    onSave(persona) {
      let that = this;
      this.persona = persona;
      this.loading = true;

      this.create(persona)
        .then(() => {
          that.goBack();
        })
        .finally(() => {
          that.loading = false;
        });
    }
  }
};
</script>

<style></style>
