<template>
  <v-card>
    <v-toolbar dark fixed color="primary">
      <v-btn icon @click.native="close" dark>
        <v-icon>close</v-icon>
      </v-btn>
      <v-toolbar-title>{{ titulo }}</v-toolbar-title>
      <v-divider class="mx-3 hidden-sm-and-down" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <span class v-if="multiple && conteo > 0">{{ conteo }} Pagadores</span>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn
          v-if="multiple"
          :loading="loading"
          @click.native="onclick"
          dark
          flat
          :disabled="conteo <= 0"
        >Seleccionar</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <PagadorSelector
      ref="selector"
      :multiple="multiple"
      @update:pagadores_seleccionados="actualizarPagadores"
    ></PagadorSelector>
  </v-card>
</template>

<script>
import PagadorSelector from "@/components/pagadores/PagadorSelector";

export default {
  components: {
    PagadorSelector
  },

  props: {
    multiple: {
      type: Boolean,
      required: false,
      default: true
    }
  },

  data() {
    return {
      loading: false,
      pagadores_seleccionados: []
    };
  },

  computed: {
    conteo() {
      return this.pagadores_seleccionados.length;
    },

    titulo() {
      if (this.multiple) return "Seleccionar los pagadores";
      else return "Seleccionar un pagador";
    }
  },

  methods: {
    reset() {
      this.$refs.selector.reset();
      this.pagadores_seleccionados.splice(0);
    },

    actualizarPagadores(object_list) {
      this.pagadores_seleccionados = object_list;
      if (!this.multiple) this.onclick();
    },

    close() {
      this.reset();
      this.$emit("close");
    },

    onclick() {
      let that = this;
      if (this.pagadores_seleccionados.length > 0) {
        that.$emit("seleccionar", this.pagadores_seleccionados);
      }
    }
  }
};
</script>
