<template>
  <v-card>
    <v-toolbar
      dense
      flat
      :dark="xselected"
      :color="xselected ? 'primary' : 'transparent'"
    >
      {{ pagador.nombre }}
    </v-toolbar>
    <v-card-actions>
      <v-layout row wrap>
        <v-flex xs12 py-0>
          <v-list two-line dense>
            <v-list-tile avatar>
              <v-list-tile-content>
                <v-list-tile-title>{{ pagador.direccion }}</v-list-tile-title>
                <v-list-tile-sub-title>Dirección</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile avatar>
              <v-list-tile-content>
                <v-list-tile-title>{{ pagador.telefono }}</v-list-tile-title>
                <v-list-tile-sub-title>Telefono</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-flex>
      </v-layout>
    </v-card-actions>
    <v-card-actions>
      <v-btn flat color="primary" @click="onclick">{{ select_text }}</v-btn>
      <v-spacer></v-spacer>
      <v-subheader color="lighten-1">
        <small>{{ pagador.codigo }}</small>
      </v-subheader>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    pagador: {
      type: Object,
      default: null
    },

    selected: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      xselected: this.selected
    };
  },

  computed: {
    municipio() {
      return this.pagador.municipio;
    },

    departamento() {
      return this.pagador.municipio.departamento;
    },

    select_text() {
      return !this.xselected ? "Seleccionar" : "Deseleccionar";
    }
  },

  watch: {
    selected() {
      this.xselected = this.selected;
    }
  },

  methods: {
    select() {
      this.xselected = true;
      this.$emit("select", this.pagador);
    },

    unselect() {
      this.xselected = false;
      this.$emit("unselect", this.pagador);
    },

    onclick() {
      if (this.xselected) this.unselect();
      else this.select();
    }
  }
};
</script>
