<template>
  <v-container grid-list-xl fluid mt-5>
    <v-layout row wrap>
      <v-flex xs12 sm6 md3>
        <v-flex>
          <v-subheader>Filtros</v-subheader>
        </v-flex>
        <v-flex sm6 md12>
          <v-list>
            <v-text-field
              v-model="query"
              :loading="loading"
              label="Pagador"
              placeholder="Nombre del pagador"
              prepend-icon="mdi-stethoscope"
              @change="obtenerPagadores"
              clearable
            ></v-text-field>
          </v-list>
        </v-flex>

        <v-flex sm6 md12>
          <v-autocomplete
            v-model="tipoPagador_seleccionados"
            :items="tipoPagador"
            :loading="loading"
            item-text="nombre"
            item-value="nombre"
            label="Tipo"
            prepend-icon="mdi-ticket"
            class="chip--select-multi"
            chips
            clearable
            multiple
            return-object
          >
            <template v-slot:selection="data">
              <v-chip
                :selected="data.selected"
                :title="data.item.nombre"
                @input="deSeleccionarTipoPagador(data.item)"
                color="primary"
                close
                dark
              >
                {{ data.item.nombre }}
              </v-chip>
            </template>
          </v-autocomplete>
        </v-flex>
      </v-flex>
      <v-flex xs12 sm6 md9>
        <v-data-iterator
          :items="pagadores"
          :pagination.sync="pagination"
          :rows-per-page-items="rowsPerPageItems"
          content-class="layout row wrap"
        >
          <template v-slot:item="props">
            <v-flex xs12 md6 lg4>
              <PagadorCard
                :pagador="props.item"
                :selected="pagadorSeleccionado(props.item)"
                @select="seleccionar"
                @unselect="deseleccionar"
              ></PagadorCard>
            </v-flex>
          </template>
        </v-data-iterator>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import servicio from "@/services/PagadorService";
import PagadorCard from "@/components/pagadores/PagadorCard";

export default {
  components: {
    PagadorCard
  },

  props: {
    remision: {
      type: Object,
      required: false,
      default: () => {}
    },
    multiple: {
      type: Boolean,
      required: false,
      default: true
    }
  },

  data() {
    return {
      pagadores: [],
      pagadores_seleccionados: [],
      pagination: {
        rowsPerPage: 12
      },
      rowsPerPageItems: [6, 9, 12, 18, 24, 30],
      query: "",
      tipoPagador_seleccionados: [],
      loading: false,
      tipoPagador: [
        { id: 3, nombre: "ENTIDAD ADAPTADA" },
        { id: 1, nombre: "EPS" },
        { id: 2, nombre: "ARL" },
        { id: 4, nombre: "DIR TERRITORIAL SALUD" }
      ]
    };
  },

  computed: {
    tipo_pagador_list() {
      return this.tipoPagador_seleccionados.map(e => e.id);
    }
  },

  watch: {
    pagadores_seleccionados() {
      this.$emit(
        "update:pagadores_seleccionados",
        this.pagadores_seleccionados
      );
    },

    query() {
      this.obtenerPagadores();
    },

    tipoPagador_seleccionados() {
      this.obtenerPagadores();
    }
  },

  methods: {
    reset() {
      this.pagadores_seleccionados.splice(0);
      if (this.pagadores.length <= 0) this.obtenerPagadores();
    },

    obtenerPagadores() {
      let that = this;
      let params = {
        query: this.query,
        tipo_pagador_list: this.tipo_pagador_list
      };

      //la consulta ha sido solicitada
      if (this.loading) return;

      //generar la consulta al servidor
      that.loading = true;
      servicio
        .buscar(params)
        .then(response => {
          that.pagadores = response.data;
          that.loading = false;
        })
        .catch(() => (that.loading = false));
    },

    seleccionar(p) {
      if (!this.multiple) {
        this.pagadores_seleccionados.pop();
      }

      this.pagadores_seleccionados.push(p);
    },

    deseleccionar(p) {
      this.pagadores_seleccionados = this.pagadores_seleccionados.filter(
        e => e.id != p.id
      );
    },

    pagadorSeleccionado(p) {
      return this.pagadores_seleccionados.findIndex(e => e.id == p.id) != -1;
    },

    deSeleccionarTipoPagador(m) {
      this.tipoPagador_seleccionados = this.tipoPagador_seleccionados.filter(
        e => e.id != m.id
      );
    }
  }
};
</script>
