<template>
  <v-toolbar color="primary" fixed dark app>
    <v-toolbar-title class="ml-0 pl-3"> </v-toolbar-title>
    <v-toolbar-side-icon @click.stop="handleDrawerToggle"></v-toolbar-side-icon>
    <v-spacer></v-spacer>
    <v-btn icon @click="handleFullScreen()">
      <v-icon>fullscreen</v-icon>
    </v-btn>
  </v-toolbar>
</template>
<script>
import { mapMutations, createNamespacedHelpers } from "vuex";
const { mapGetters } = createNamespacedHelpers("autenticacion");

import languages from "@/i18n/languages";
import Util from "@/util";

import * as types from "@/store/mutations_types/root";

export default {
  name: "app-toolbar",
  components: {},
  data: () => ({
    items: [
      {
        icon: "account_circle",
        href: "#",
        title: "Profile",
        click: e => {
          console.log(e);
        }
      },
      {
        icon: "settings",
        href: "#",
        title: "Settings",
        click: e => {
          console.log(e);
        }
      },
      {
        icon: "fullscreen_exit",
        href: "#",
        title: "Logout",
        click: () => {
          window.getApp.$emit("APP_LOGOUT");
        }
      }
    ]
  }),
  computed: {
    toolbarColor() {
      return this.$vuetify.options.extra.mainNav;
    },

    languages() {
      var menuitems = [];
      var that = this;

      for (let i = 0; i < languages.length; i++ in languages) {
        let lang = languages[i];
        var item = {
          ...lang,
          click() {
            that.changeLanguage(lang.codigo);
          }
        };
        menuitems.push(item);
      }

      return menuitems;
    },

    ...mapGetters(["user_autenticated"])
  },
  methods: {
    ...mapMutations({
      changelang: types.SET_APPLANGUAGE
    }),

    handleDrawerToggle() {
      window.getApp.$emit("APP_DRAWER_TOGGLED");
    },

    handleFullScreen() {
      Util.toggleFullScreen();
    },

    changeLanguage(payload) {
      console.log(payload);
      this.$vuetify.lang.current = payload;
      this.$i18n.locale = payload;
      this.changelang(payload);
    }
  }
};
</script>
