<template>
  <v-card>
    <v-toolbar dark fixed color="primary">
      <v-btn icon @click.native="close" dark>
        <v-icon>close</v-icon>
      </v-btn>
      <v-toolbar-title>{{ titulo }}</v-toolbar-title>
      <v-divider class="mx-3 hidden-sm-and-down" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <span class v-if="multiple && conteo > 0">{{ conteo }} Prestadores</span>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn
          v-if="multiple"
          :loading="loading"
          @click.native="onclick"
          dark
          flat
          :disabled="conteo <= 0"
        >Seleccionar</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <PrestadorSelector
      ref="selector"
      :remision="remision"
      :multiple="multiple"
      :xaction="xaction"
      @update:prestadores_seleccionados="actualizarPrestadores"
    ></PrestadorSelector>
  </v-card>
</template>

<script>
import PrestadorSelector from "@/components/prestadores/PrestadorSelector";

export default {
  components: {
    PrestadorSelector
  },

  props: {
    remision: {
      type: Object,
      required: false,
      default: () => {}
    },
    multiple: {
      type: Boolean,
      required: false,
      default: true
    },
    xaction: {
      type: String,
      required: false,
      default: "PRESENTAR"
    }
  },

  data() {
    return {
      loading: false,
      prestadores_seleccionados: []
    };
  },

  computed: {
    conteo() {
      return this.prestadores_seleccionados.length;
    },

    titulo() {
      if (this.multiple) return "Seleccionar los prestadores de salud";
      else return "Seleccionar un prestador de salud";
    }
  },

  methods: {
    reset() {
      this.$refs.selector.reset();
      this.prestadores_seleccionados.splice(0);
    },

    actualizarPrestadores(prestadores) {
      this.prestadores_seleccionados = prestadores;
      if (!this.multiple) this.onclick();
    },

    close() {
      this.reset();
      this.$emit("close");
    },

    onclick() {
      let that = this;
      if (this.prestadores_seleccionados.length > 0) {
        that.$emit("seleccionar", this.prestadores_seleccionados);
      }
    }
  }
};
</script>
