<template>
  <div>
    <v-container grid-list-md>
      <v-flex
        md12
        align-content-center
        align-content-space-around
        id="id"
        justify-center
        tag="div"
        wrap
      >
        <v-autocomplete
          v-model="model"
          :items="items"
          :loading="isLoading"
          :search-input.sync="search"
          clearable
          item-text="Description"
          item-value="API"
          label="Prestador del servicio salud que solicita la remisión"
          placeholder="Indica el nombre o el código de habibilitación"
          prepend-icon="mdi-database-search"
          return-object
          @input="onInput"
          @change="onChange"
        >
          <template #no-data>
            <v-list-tile :to="{ name: 'Prestador' }">
              <v-list-tile-action>
                <v-icon color="primary">mdi-stethoscope</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Agregar Prestador
                </v-list-tile-title>
                <v-divider></v-divider>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-autocomplete>
      </v-flex>
    </v-container>
  </div>
</template>

<script>
export default {
  model: {
    prop: "prestador",
    event: "updateItem"
  },
  props: {
    prestador: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    descriptionLimit: 60,
    entries: [],
    isLoading: false,
    model: null,
    search: null
  }),

  computed: {
    fields() {
      if (!this.model) return [];

      return Object.keys(this.model).map(key => {
        return {
          key,
          value: this.model[key] || "n/a"
        };
      });
    },
    items() {
      return this.entries.map(entry => {
        const Description =
          entry.Description.length > this.descriptionLimit
            ? entry.Description.slice(0, this.descriptionLimit) + "..."
            : entry.Description;

        return Object.assign({}, entry, { Description });
      });
    }
  },

  methods: {
    onInput() {},

    onChange(item) {
      console.log("onChange");
      this.$emit("updateItem", item);
    }
  },

  watch: {
    search() {
      // Items have already been loaded
      if (this.items.length > 0) return;

      // Items have already been requested
      if (this.isLoading) return;

      this.isLoading = true;

      // Lazily load input items
      fetch("https://api.publicapis.org/entries")
        .then(res => res.json())
        .then(res => {
          const { count, entries } = res;
          this.count = count;
          this.entries = entries;
        })
        .catch(err => {
          console.log(err);
        })
        .finally(() => (this.isLoading = false));
    }
  }
};
</script>

<style></style>
