<template>
  <v-container grid-list-xl fluid mt-5>
    <v-layout row wrap>
      <v-flex xs12 sm6 md3>
        <v-flex>
          <v-subheader>Filtros</v-subheader>
        </v-flex>
        <v-flex sm6 md12>
          <v-list>
            <v-text-field
              v-model="query"
              :loading="loading"
              label="Prestador de salud"
              placeholder="Nombre del prestador de salud"
              prepend-icon="mdi-stethoscope"
              @change="obtenerPrestadores"
              clearable
            ></v-text-field>
          </v-list>
        </v-flex>

        <v-flex sm6 md12>
          <v-autocomplete
            v-model="municipios_seleccionados"
            :filter="filtrar_municipio"
            :items="municipios"
            :loading="loading"
            :search-input.sync="queryMunicipio"
            item-text="nombre"
            item-value="codigo"
            label="Municipio"
            placeholder="Indica el nombre del minicipio"
            prepend-icon="mdi-map-marker"
            class="chip--select-multi"
            chips
            clearable
            multiple
            return-object
          >
            <template v-slot:selection="data">
              <v-chip
                :selected="data.selected"
                :title="data.item.departamento.nombre"
                @input="deSeleccionarMunicipio(data.item)"
                color="primary"
                close
                dark
              >
                {{ data.item.nombre }}
              </v-chip>
            </template>
            <template v-slot:item="data">
              <template>
                <v-list-tile-content>
                  <v-list-tile-title
                    v-html="genFilteredText(queryMunicipio, data.item.nombre)"
                  ></v-list-tile-title>
                  <v-list-tile-sub-title
                    v-html="
                      genFilteredText(
                        queryMunicipio,
                        data.item.departamento.nombre
                      )
                    "
                  ></v-list-tile-sub-title>
                </v-list-tile-content>
              </template>
            </template>
          </v-autocomplete>
        </v-flex>
      </v-flex>
      <v-flex xs12 sm6 md9>
        <v-data-iterator
          :items="prestadores"
          :pagination.sync="pagination"
          :rows-per-page-items="rowsPerPageItems"
          content-class="layout row wrap"
        >
          <template v-slot:item="props">
            <v-flex xs12 md6 lg4>
              <PrestadorCard
                :prestador="props.item"
                :selected="prestadorSeleccionado(props.item)"
                @select="seleccionar"
                @unselect="deseleccionar"
              ></PrestadorCard>
            </v-flex>
          </template>
        </v-data-iterator>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import servicio from "@/services/PrestadorService";
import PrestadorCard from "@/components/prestadores/PrestadorCard";
import { quitarTildes } from "@/util/functions";
import { genFilteredText } from "@/util/vuetify/VSelectList";

export default {
  components: {
    PrestadorCard
  },

  props: {
    remision: {
      type: Object,
      required: false,
      default: () => {}
    },
    multiple: {
      type: Boolean,
      required: false,
      default: true
    },
    xaction: {
      type: String,
      required: false,
      default: "PRESENTAR"
    }
  },

  data() {
    return {
      genFilteredText,
      prestadores: [],
      prestadores_seleccionados: [],
      pagination: {
        rowsPerPage: 12
      },
      rowsPerPageItems: [6, 9, 12, 18, 24, 30],
      query: "",
      queryMunicipio: "",
      municipios_seleccionados: [],
      loading: false
    };
  },

  computed: {
    ...mapState("municipio", ["municipios"]),

    idmunicipios() {
      return this.municipios_seleccionados.map(e => e.id);
    },

    queries_municipio() {
      return this.queryMunicipio || "";
    }
  },

  watch: {
    prestadores_seleccionados() {
      this.$emit(
        "update:prestadores_seleccionados",
        this.prestadores_seleccionados
      );
    },

    query() {
      this.obtenerPrestadores();
    },

    municipios_seleccionados() {
      this.obtenerPrestadores();
    }
  },

  methods: {
    reset() {
      this.prestadores_seleccionados.splice(0);
      if (this.prestadores.length <= 0) this.obtenerPrestadores();
    },

    obtenerPrestadores() {
      let that = this;
      let params = {
        query: this.query,
        idmunicipios: this.idmunicipios,
        idremision: this.remision.id,
        xaction: this.xaction
      };

      //la consulta ha sido solicitada
      if (this.loading) return;

      //generar la consulta al servidor
      that.loading = true;
      servicio
        .buscar(params)
        .then(response => {
          that.prestadores = response.data;
          that.loading = false;
        })
        .catch(() => (that.loading = false));
    },

    seleccionar(p) {
      if (!this.multiple) {
        this.prestadores_seleccionados.pop();
      }

      this.prestadores_seleccionados.push(p);
    },

    deseleccionar(p) {
      this.prestadores_seleccionados = this.prestadores_seleccionados.filter(
        e => e.id != p.id
      );
    },

    prestadorSeleccionado(p) {
      return this.prestadores_seleccionados.findIndex(e => e.id == p.id) != -1;
    },

    deSeleccionarMunicipio(m) {
      this.municipios_seleccionados = this.municipios_seleccionados.filter(
        e => e.id != m.id
      );
    },

    filtrar_municipio(item, queryText) {
      let mname = quitarTildes(item.nombre);
      let dname = quitarTildes(item.departamento.nombre);
      let query = quitarTildes(queryText);
      return (
        mname.toLocaleLowerCase().indexOf(query.toLocaleLowerCase()) > -1 ||
        dname.toLocaleLowerCase().indexOf(query.toLocaleLowerCase()) > -1
      );
    }
  }
};
</script>
