<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 sm6 md3 pa-1>
        <v-select
          v-model="persona.tipoIdentificacion"
          :items="tipoIdentificacion"
          :rules="[rules.required]"
          item-text="nombre"
          item-value="valor"
          label="Tipo de identificación"
          cache-items
          clearable
          validate-on-blur
        ></v-select>
      </v-flex>

      <v-flex xs12 sm6 md3 pa-1>
        <v-text-field
          v-model="persona.numeroIdentificacion"
          :rules="[rules.required]"
          label="Número identificación"
        ></v-text-field>
      </v-flex>

      <v-flex sm6 md3 pa-1>
        <v-menu
          v-model="showMenuFechaNacimiento"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="persona.fechaNacimiento"
              :rules="[rules.required]"
              label="Fecha de Nacimiento"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="persona.fechaNacimiento"
            landscape
            locale="es"
            @input="showMenuFechaNacimiento = false"
          ></v-date-picker>
        </v-menu>
      </v-flex>

      <v-flex sm6 md3 pa-1>
        <v-select
          v-model="persona.sexo"
          item-text="nombre"
          item-value="valor"
          :items="sexo"
          :rules="[rules.required]"
          label="Sexo"
          cache-items
          clearable
          validate-on-blur
        ></v-select>
      </v-flex>
    </v-layout>

    <v-layout row>
      <v-flex md6 pa-1>
        <v-text-field
          v-model="persona.apellido1"
          :rules="[rules.required]"
          label="Primer apellido"
        ></v-text-field>
      </v-flex>

      <v-flex md6 pa-1>
        <v-text-field
          v-model="persona.apellido2"
          :rules="[rules.required]"
          label="Segundo apellido"
        ></v-text-field>
      </v-flex>
    </v-layout>

    <v-layout row>
      <v-flex md6 pa-1>
        <v-text-field
          v-model="persona.nombre1"
          :rules="[rules.required]"
          label="Primer nombre"
        ></v-text-field>
      </v-flex>

      <v-flex md6 pa-1>
        <v-text-field
          v-model="persona.nombre2"
          label="Segundo nombre"
        ></v-text-field>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { createNamespacedHelpers, mapState } from "vuex";
const { mapGetters, mapActions } = createNamespacedHelpers("persona");

export default {
  props: {
    persona: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    valid: false,
    fechanacimiento: undefined,
    showConfirmDialog: false,
    savingForm: false,
    v: {},
    rules: {
      required: value => !!value || "Requerido."
    },

    nameRules: [
      v => !!v || "Name is required",
      v => v.length <= 10 || "Name must be less than 10 characters"
    ],
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+/.test(v) || "E-mail must be valid"
    ],
    showMenuFechaNacimiento: false
  }),

  computed: {
    ...mapState("constante", ["tipoIdentificacion", "sexo"]),
    ...mapGetters(["getPersona"])
  },

  watch: {
    persona() {}
  },

  methods: {
    ...mapActions(["update"])
  }
};
</script>
